body{width:100%;height:100%;background-color:#eee;}
.container{width:100%;max-width:640px;margin:0 auto;}

.header{width:100%;max-width:640px;height:50px;background-color:#fff;padding:0 10px;}
.header input{display:block;width:90%;height:30px;border:1px solid #eee;border-radius:3px;margin-top:10px;text-align: center;background-color:#eee;}
.header a{display:block;width:10%;height:30px;text-align: center;line-height:30px;margin-top:8px;}
.header a img{width:25px;}

.footer{width:100%;max-width:640px;position:fixed;bottom:0;background-color:#fff;border-top: 1px solid #cecece;z-index:99;}
.footer div{width:100%;text-align:center;padding-top:2px;}
.footer div img{width:25px;padding:2px 0;}
.footer div p{padding:3px 0;}

.bg{width:100%;max-width:640px;height:100%;position:fixed;top:0;z-index:9999;}
.bg img{width:100%;height:100%;}